:root {
  --bg: #242526;
  --bg-text: darkcyan;
  --output-border-radius: 0.4rem;
  --ghost-white: ghostwhite;
}

body {
  background-color: var(--bg);
}

.ghost-white {
  color: var(--ghost-white);
}

.container {
  width: 400px;
  margin-top: 70px;
  padding: 0 20px;
}

.about {
  width: 100%;
}

.btn {
  width: 100%;
}

.btn-auto {
  width: auto;
}

.output {
  margin-top: 40px;
}

#output-path {
  font-weight: bold;
}

.btn-spacing {
  margin: 20px 0 20px 0;
}

.btn-gap {
  margin: 0 5px;
}

.output-container {
  background-color: var(--bg-text);
  border-radius: var(--output-border-radius);
}

.output-content {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
}

#input-box {
  color: white;
  border-radius: var(--output-border-radius);
  height: 100px;
  padding: 10px;
  line-height: 1.5;
  resize: none;
}
#input-box:focus {
  outline: 1px solid #ddd;
}

#output {
  display: grid;
  align-content: center;
  font-size: x-large;
  overflow: hidden;
}

#copy-button {
  height: 41px;
  border-radius: var(--output-border-radius);
}

#paste-button {
  position: relative;
  right: -142px;
  bottom: 147px;
}
